    <div class="col-md-4"><img src="http://tinyurl.com/qeemlqf" style="width: 100%"/><p class="text-center">Work Sample 1</p></div>
    <div class="col-md-4 col-md-offset-4"><img src="http://tinyurl.com/qeemlqf" style="width: 100%"/><p class="text-center">Work Sample 2</p></div>
    <div class="col-md-4"><img src="http://tinyurl.com/qeemlqf" style="width: 100%" /><p class="text-center">Work Sample 3</p></div>
    <div class="col-md-4 col-md-offset-4"><img src="http://tinyurl.com/qeemlqf" style="width: 100%" /><p class="text-center">Work Sample 4</p></div>